<span class="list-group-item lister-list-item">
  <%= list.name %>
  <%= link_to '<i class="fa fa-times"></i>'.html_safe, list_path(list),
              method: :delete, data: { confirm: "You sure?" },
              title: 'Delete', remote: true %>
</span>
