<% provide(:title, "Home") %>

<% provide(:header_right_nav) do %>
    <span class="mr-auto"></span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= render "account" %>
      </li>
      <li class="nav-btn">
        <%= render "login_or_logout" %>
      </li>
    </ul>
<% end %>

