<% provide(:title, "Home") %>

<% provide(:header_right_nav) do %>
    <li>
      <p class="navbar-link">
        <%= render "account" %>
      </p>
    </li>
    <li>
      <p class="navbar-btn">
        <%= render "login_or_logout" %>
      </p>
    </li>
<% end %>

