<%= render 'modifiers' %>
<main>
  <section id="about">
    This should explain what this page is about.
  </section>
  <section id="signup">
    New User?
    <a href="#" class="btn btn-default">Signup</a>
  </section>
</main>
