<%= render 'modifiers' %>
<main>
  <section id="about">
    This should explain what this page is about.
  </section>
  <section id="signup">
    New User?
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default" %>
  </section>
</main>
