<%= render 'home/modifiers' %>
<div class="row">
  <div class="col-md-6 lister-personal-section">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <div class="card-text">
          <%= render 'lists/form' %>
          <%= render 'lists/index' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    Other
  </div>
</div>