<div class="col lister-flash">
  <% if notice %>
      <%= render partial: 'layouts/flash_message', locals: { messages: flash_messages(notice),
                                                             message_class: 'alert-info' } %>
  <% end %>
  <% if alert %>
  <%= render partial: 'layouts/flash_message', locals: { messages: flash_messages(alert),
                                                         message_class: 'alert-warning' } %>
      <% end %>
</div>