<footer class="footer col">

  <section id="repository">
    Repository: <a href="https://github.com/codingjaunt/">https://github.com/codingjaunt/</a>
  </section>

  <section id="blog">
    Blog: <a href="www.codingjaunt.com">www.codingjaunt.com</a>
  </section>

</footer>
