<% provide(:header_right_nav) do %>
    <span class="mr-auto"></span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= render "layouts/account" %>
      </li>
      <li class="nav-btn">
        <%= render "layouts/login_or_logout" %>
      </li>
    </ul>
<% end %>
