<nav class="navbar navbar-toggleable navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#lister-nav-collapse"
          aria-controls="lister-nav-collapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-uppercase" href="#">Lister</a>
  <div class="collapse navbar-collapse" id="lister-nav-collapse">
      <%= yield :header_right_nav %>
  </div>
</nav>